/* CSS declarations go here */

body{
	background-image: url("/Book1.JPG");
	background-size: 100%;	
}


div.textBox {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: lightgray inset; 
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
    width: 800px; 
    height: 100px;
    overflow: scroll;
}

div.textBoxWords {
	-moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: lightgray inset; 
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
    width: 800px; 
    height: 100px;
    overflow: scroll;
}

div.definitionBox {
	-moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: lightgray inset; 
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
	height: 50px;
	width: 800px;
	overflow: scroll;
}

div.page-header{
	background: white;
	vertical-align: top;
	padding:20px 5px 40px 5px;
	margin:-10px 0px 0px 0px;
}

.page-header .leftSide{
	float:left;
	width:25%;
}
.page-header .leftSide .moreLeft{
	float:left;
	width:25%;
}
.page-header .leftSide .moreRight{
	float:left;
}

.page-header .rightSide{
	float: right;
	margin-right: 10%;
}

div.left{
	margin-right:auto;
    margin-left:auto;
    width: 70%;
	overflow:hidden;
}

div.text-reader-container{
	margin:2% 2% 2% 2%;
}


div.answer-container{
	margin:2% 2% 2% 2%; 
}

div.common-searched-words-container{
	margin:2% 2% 2% 2%;
}

@media only screen and (max-device-width: 480px) {
	div.page-header{
	background: white;
	vertical-align: top;
	padding:10px 5px 40px 5px;
	margin:-10px 0px 0px 0px;
	font-size:200%;
	}
	
	.page-header .leftSide{
	float:left;
	width:40%;
	font-size:75%;
	}
	.page-header .leftSide .moreLeft{
	float:left;
	width:50%;
	}
	.page-header .leftSide .moreRight{
	float:left;
	}

	.page-header .rightSide{
	float: right;
	margin-right: 10%;
	font-size:75%;
	}
	
	body{
	background-image: url("/Book1.JPG");
	background-size: 300%;
	font-size:200%;	
	}
	
	div.textBox {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
    width: 600px; 
    height: 300px;
    overflow: scroll;
}
	
	div.definitionBox {
	-moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
	height: 300px;
	width: 600px;
	overflow: scroll;
	font-size: 150%;
}

	.definitionBox .definitionDefinition{
	font-size: 100%;
	}
	
	div.textBoxWords {
	-moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
    width: 600px; 
    height: 300px;
    overflow: scroll;
}
}

