<head>
  <title>readtogetherapp</title>
  
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		
		<!--
		<script src="jquery-1.11.1.min.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		-->
</head>

<body>
	<div class="page-header">
	<h1>ReadTogether <small>{{#if currentUser}} With Students{{else}} Learn Together{{/if}}</small></h1>
	<div class="leftSide">
	<div class="moreLeft">
	{{> loginButtons}}
	</div>
	<div class="moreRight">
	{{#if currentUser}}
	<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    					Readings
						<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    						{{#each pdfMenu}}
    							{{> pdfMenuItem}}
    						{{/each}}
  						</ul>
				</div>
	{{/if}}
	</div>
	</div>
	<div class="rightSide">
			{{#if currentUser}}
					<div id="dropzone" class="dropzone">
  						<div style="text-align: center; color: gray;">Drop file here to upload</div>
					</div>
			{{/if}}
	</div>	
	</div>

	{{#if currentUser}}
	<div class="left">
	

		<div class="answer-container">
			<div class="panel panel-default">
 		 		<div class="panel-heading">
 		 			<h3 class="panel-title"><span id='word'></span></h3>
 		 			</div>
  					<div class="panel-body">
  					
  					<div class="col-lg-6">
    					<div class="input-group">
      						<form class="inquiry">
    							<input type="text" name="text" placeholder="What are you stuck on?" />
  							</form>
  								<h6>Add or find content regarding your query here...</h6>
  								{{#if demo!=""}}
  								<div class="definitionBox">
  								<h6 class="definitionDefinition">Definition:</h6>
  								<p id="demo"></p>
  								</div>
  								{{/if}}
  								<div class="textBox" id="tB1" contenteditable>
  								<p id="answerInformation"> </p> <!-- change information here -->
      							</div>
      							<button type="button" id="saveAnswer">Save Answer</button>
    					</div><!-- /input-group -->
  					</div><!-- /.col-lg-6 -->
    					<span id="output-text"></span>
					</div>
				</div>
			</div>
			
			<div class="common-searched-words-container">
				<div class="panel panel-default">
 			 		<div class="panel-heading">
    					<h3 class="panel-title">Recently Searched Terms</h3>
  					</div>
  					<div class="panel-body">
  						<div class="textBoxWords">
    					<ul class="list-group">
    					{{#each words}}
    						{{> word}}
    					{{/each}}
    					</ul>
    					</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}
</body>

<!-- Doesn't work: intended to display pdfs -->
<template name="pdfReaderSpace">
	<div id="pdfReaderArea">
	<object name="pdfReader" data="{{title}}" type="application/pdf" width="100%" height="400px" view="FitV">
  		<p><a href="https://support.mozilla.org/en-US/kb/use-adobe-reader-plugin-view-or-download-pdf-files">Click here to install a PDF plugin.</a></p>
	</object>
	</div>
</template>

<template name="word">
	<li class="list-group-item">{{wordId}}</li>
</template>

<template name="pdfMenuItem">
	<li class="wordByName" role="presentation"><a role="menuitem" tabindex="-1" href="#"><div class="file">
        <strong>{{this.name}}</strong> <a href="{{this.url download=true}}" class="btn btn-primary">Download</a>
      </div></a></li>
</template>

<template name="fileList">
  <div class="fileList">
    {{#each files}}
      <div class="file">
        <strong>{{this.name}}</strong> <a href="{{this.url download=true}}" class="btn btn-primary">Download</a>
      </div>
    {{/each}}
  </div>
</template>

